aiohttp==3.7.4
asn1crypto==0.24.0
async-timeout==2.0.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
discord.py==0.16.12
idna==2.6
multidict==4.1.0
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.8
requests==2.18.4
six==1.11.0
urllib3==1.22
websockets==3.4
win-inet-pton==1.0.1
wincertstore==0.2
